table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
  margin: auto;
}

#TableHeader {
  font-size: 400%;
}

#hyperlink {
  text-align: right;
}

#button5 {
  border: 1px;
  border-radius: 7px;
  font-size: 100px;
  text-align: center;
}

button:hover {
  background-color: blue;
  color: aquamarine;
  cursor: pointer;
}

button:active {
  background-color: aqua;
}

p {
  font-size: 40px;
}

p[lang="Fr"] {
  font-size: 30px;
}

div > p {
  background-color: chartreuse;
  font-family: fantasy;
}

#p6 {
  color: aliceblue;
  background-color: rgb(18, 12, 70);
  padding: 30px;
  margin: 30px;
  border: 20px solid rgb(110, 13, 134);
  width: 350px;
  position: relative fixed;
}

#p7 {
  color: aliceblue;
  background-color: rgb(59, 165, 33);
  padding: 100px;
  margin: 35px;
  border: 30px solid rgb(13, 96, 134);
  width: 800px;
}

#b7 {
  border: 1px;
  border-radius: 7px;
  font-size: 50px;
  position: fixed;
  right: 30px;
}
